## Tools and Techniques by sir Zia

### KNN
k nearest neighbours

In [1]:
import pandas as pd

In [2]:
x1 = [1,3,3,4,5,6]
x2 = [3,3,6,2,5,4]
pd.DataFrame(x1,x2)

   0
3  1
3  3
6  3
2  4
5  5
4  6